$color-white: #FFFFFF;
$color-black: #000000;
$color-primary: #403886;
$color-secondary: #FFBF4E;
$color-card-background: #242938;
$color-text-primary: #242938;
$color-red: #ff5555;

$color-placeholder:#B8B8B8;
$color-feedback: #FF6161;
$color-input-focus: #513DFF;
